/*  Css for Layout */

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: cursive;
}
/* CSS for Titlebar */
.navbar-brand {
  padding-top: 0;
}

nav li {
  font-family: 'Josefin Sans';
  font-size: 17px;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color:#D8D8D8;
  text-shadow: 5px 10px 10px #5A5957;
  letter-spacing: 8px;

}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
  letter-spacing: 5px;
}

/* CSS for About us section */
.artheading {
  font: bold;
}

.artfont {
  color: #848484;
}

/* Css for Drining Lessons -Portfolio Section */

#drivingCourses {
  padding-left: 15px;
  padding-right: 15px;
}
/*Css for Registration Link-Modal window*/
#inputMessage{
  margin-bottom:15px;
}

/* CSS used for fonts and textformatting */

.dchead {
  font-family: 'Josefin Sans';
  letter-spacing: 12px;
}

.classpadding {
  padding: 15px;
}

.textcenter {
  text-align: center;
}

/* Css for Footer*/

footer {
  background-image: url(../img/footer_img.jpg);
  background-size: 100% 100%;
}

/* Css for Slide Show*/
#myCarousel{
  background-color:white;
  margin-top:70px;
}

  #myCarousel .item {
    height: 400px;
  }
  #slide1 {
    background: url('../img/carousel1_large1.png') top left no-repeat;
  }
  #slide2 {
    background: url('../img/carousel2_large1.png') top left no-repeat;
  }
  #slide3 {
    background: url('../img/carousel3_large3.png') top left no-repeat;
  }

/* Small phones */
@media (min-width: 320px) and (max-width: 480px) {
  #myCarousel .item {
    height: 160px;
  }
  #slide1 {
    background: url('../img/carousel1_small.png') top left no-repeat;
  }
  #slide2 {
    background: url('../img/carousel2_small.png') top left no-repeat;
  }
  #slide3 {
    background: url('../img/carousel3_small.png') top left no-repeat;
  }
  .carousel-caption {
    font-size: 12px;
    color:yellow;
  }
  .carousel-caption h4 {
    font-size: 14px;
    color:yellow;
  }
  h1{
    font-size:15px;
    color:yellow;
  }
}

/* Landscape phone to portrait tablet */

@media (min-width: 481px) and (max-width: 768px) {
  #myCarousel .item {
    height: 256px;
  }
  #slide1 {
    background: url('../img/carousel1_medium.png') top left no-repeat;
  }
  #slide2 {
    background: url('../img/carousel2_medium.png') top left no-repeat;
  }
  #slide3 {
    background: url('../img/carousel3_medium.png') top left no-repeat;
  }
  .carousel-caption {
    font-size: 16px;
    color:red;
  }
  .carousel-caption h4 {
    font-size: 24px;
    color:red;
  }
  h1{
    font-size:20px;
    color:yellow;
  }
}


/*Very Large desktop */

@media (min-width: 1200px) {
  #myCarousel .item {
    height: 500px;
  }
  #slide1 {
    background: url('../img/car1_vlarge.png') top left no-repeat;
  }
  #slide2 {
    background: url('../img/car2_vlarge.png') top left no-repeat;
  }
  #slide3 {
    background: url('../img/car3_vlarge.png') top left no-repeat;
  }
}
